<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-32 w-auto" src="assets/logo.jpeg" alt="Your Company">
        <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-violet-950">Recuperación de contraseña</h2>
    </div>

    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6">
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo</label>
                <div class="mt-2">
                    <input id="Correo" name="Correo" type="email" required class="block w-full pl-3 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-purple-600 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-fuchsia-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-cyan-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Enviar enlace de recuperación
                </button>
            </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">
            ¿Recuerdas tu contraseña?
            <a [routerLink]="['/login']" class="font-semibold leading-6 text-purple-500 hover:text-purple-600">Inicia sesión aquí</a>
        </p>
    </div>
</div>