<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <h1 class="text-slate-100 font-bold">Hola, {{nombre}}</h1>
        <div class="flex flex-col h-4/6 m-5">
            <a [routerLink]="['/home']" class="flex items-center text-white font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">home</mat-icon>Home
            </a>
            <a [routerLink]="['/usuarios']" class="flex items-center text-white font-semibold mt-9  hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">person</mat-icon> Usuarios
            </a>
            <a [routerLink]="['/hospitales']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">local_hospital</mat-icon> Hospitales
            </a>
            <a [routerLink]="['/incubadoras']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">child_care</mat-icon> Incubadoras
            </a>
            <a [routerLink]="['/bebes']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">child_friendly</mat-icon> Bebes
            </a>
            <a [routerLink]="['/bebes-incubadoras']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">sensors</mat-icon> Bebes-Incubadoras
            </a>
            <a [routerLink]="['/sensores']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">sensors</mat-icon> Sensores
            </a>
            <a [routerLink]="['/contacto']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">contacts</mat-icon> Contactos Familia
            </a>
            <a [routerLink]="['/historial']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">history_edu</mat-icon>Historiales Medicos
            </a>
            <a [routerLink]="['/values']" class="flex items-center text-white mt-9 font-semibold hover:text-gray-300 " (click)="drawer.toggle()">
                <mat-icon class="mr-2">insights</mat-icon>Valores Sensores
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="drawer.toggle()">
                <mat-icon class="text-white">menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <a mat-icon-button [routerLink]="['/profile']" class="example-icon h-28 w-28 " aria-label="Example icon-button with share icon">
                <mat-icon class="text-white">perm_identity</mat-icon>
            </a>
            <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon" (click)="logout()">
                <mat-icon class="text-white">exit_to_app</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
    </mat-drawer-content>  
</mat-drawer-container>