<app-side-tool>
  <div class="flex flex-col justify-center px-6 py-12 lg:px-8 w-3/4 mx-auto">
    <div class="w-full">
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold leading-9 tracking-tight text-violet-950">Valores de Sensores</h2>
      </div>
    </div>

    <div class="mt-5 w-full">
      <mat-list>
        <mat-list-item *ngFor="let value of values" class="sensor-item">
          <h3 mat-line>Sensor ID: {{ value['sensor_id'] }}</h3>
          <p mat-line>Valor: {{ value['sensor_value'] }}</p>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="w-full">
      <div class="flex justify-between items-center mt-10">
        <h2 class="text-2xl font-bold leading-9 tracking-tight text-violet-950">Datos de la Incubadora</h2>
      </div>
    </div>

    <div class="mt-5 w-full">
      <mat-card class="incubadora-card">
        <mat-card-content>
          <p>ID de la Incubadora: {{ displayedColumns[2] }}</p>
          <p>Estado: {{ displayedColumns[1] === 'is_active' ? 'Activa' : 'Inactiva' }}</p>
          <p>Ocupada: {{ displayedColumns[2] === 'is_occupied' ? 'Sí' : 'No' }}</p>
          <p>Óptimo: {{ displayedColumns[3] === 'optimo' ? 'Sí' : 'No' }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="w-full">
      <div class="flex justify-between items-center mt-10">
        <h2 class="text-2xl font-bold leading-9 tracking-tight text-violet-950">Datos del Bebé</h2>
      </div>
    </div>

    <div class="mt-5 w-full">
      <mat-card class="bebe-card">
        <mat-card-content>
          <p>ID de la Incubadora: {{ displayedColumns[3] }}</p>
          <p>Nombre: {{ values[0]['nombre'] }}</p>
          <p>Apellido: {{ values[0]['apellido'] }}</p>
          <p>Estado: {{ values[0]['id_estado'] }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-side-tool>