<app-side-tool>
  <div class="flex flex-col justify-center px-6 py-12 lg:px-8 w-full mx-auto">
    <div class="w-full">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold leading-9 tracking-tight text-violet-950">Valores</h2>
            <select [formControl]="sensorControl" class="pl-3 block w-1/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <option *ngFor="let sensor of sensores" [value]="sensor.nombre">{{sensor.nombre}}</option>
            </select>
        </div>
        <div *ngIf="values.length <= 0">
            <tr>
                <td class="text-red-500 font-medium text-2xl">No hay registros</td>
            </tr>
        </div>
        
    </div>

    <div class="mt-5 w-full" >
        <table class="table-auto w-full" *ngIf="values.length > 0">
            <thead>
                <tr>
                    <th class="border px-2  text-center">Nombre</th>
                    <th class="border px-2  text-center">Unidad</th>
                    <th class="border px-2  text-center">Valor</th>
                    <th class="border px-2  text-center">Fecha</th>

                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let value of values">
                    <td class="border px-2  text-center">{{value.name}}</td>
                    <td class="border px-2  text-center">{{value.unit}}</td>
                    <td class="border px-2  text-center">{{value.value}}</td>
                    <td class="border px-2  text-center">{{value.created_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</app-side-tool>