<app-side-tool>
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8 w-full mx-auto overflow-hidden">
        <div class="w-full">
            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold leading-9 tracking-tight text-violet-950">Bebes-Incubadoras</h2>
            </div>
        </div>
        <div class="flex flex-wrap justify-start mt-5 -mx-2">
            <ng-container *ngFor="let group of cardGroups">
                <div class="flex flex-wrap w-full">
                    <div class="w-full sm:w-full md:w-1/4 px-2 mb-4" *ngFor="let incubadora of incubadoras">
                        <div class="max-w-xs rounded overflow-hidden shadow-lg border border-gray-300">
                            <img class="w-full h-full object-cover" src="assets/cards.jpeg" alt="">
                            <div class="px-6 py-4">
                                <div class="font-bold text-l mb-2">Folio de incubadora: {{incubadora.folio}}</div>
                                <div class="font-bold text-l mb-2" *ngIf="values.length <= 0">
                                    <p class="text-red-500 font-medium text-2xl">No hay registros</p>
                                </div>
                                <div *ngFor="let value of values">
                                    <div *ngIf="value.name === 'te'">Temperatura: {{value.value}} {{value.unit}}</div>
                                    <div *ngIf="value.name === 'pu'">Pulso: {{value.value}} {{value.unit}}</div>
                                    <div *ngIf="value.name === 'bu'">Buser: {{value.value}} {{value.unit}}</div>
                                    <div *ngIf="value.name === 'so'">Sonido: {{value.value}} {{value.unit}}</div>
                                    <div *ngIf="value.name === 'ca'">Calidad del aire: {{value.value}} {{value.unit}}</div>
                                </div>
                            </div>
                            <div class="px-6 pt-4 pb-2 ">
                                <button (click)="openDialog(incubadora.id_bebe)" class="bg-purple-500 w-full justify-center hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                    Ver Informacion del bebe
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</app-side-tool>